.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #7f00ff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.topbarCenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchBarFa {
  margin-left: 20px;
  font-size: 1.4rem;
}
.searchInput {
  border: none;
  width: 70%;
}
.searchInput:focus {
  outline: none;
}
.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarIcons {
  display: flex;
}
.topbarIconItem {
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
.topbarIconBadge {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.noti-item {
  font-size: 1.2rem;
}
.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topbarLink Link {
  text-decoration: none;
  color: red;
}
